---
import Header from '@components/Header.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div
      class="before:transition-colors before:duration-1000 bg-hero-pattern h-screen relative before:content-[' '] before:absolute before:inset-x-0 before:inset-y-0 before:bg-white/[0.8] dark:before:bg-black/[0.8]"
    >
      <Header text="texto del boton" />
    </div>
  </body>
</html>
