<section class="w-full flex flex-col md:flex-row items-center justify-center px-10 md:px-24 lg:px-36 mt-24 pb-24 relative gap-16 md:gap-28">
  <div class="text-left md:w-auto">
    <h3 class="text-4xl md:text-6xl font-extrabold tracking-tight leading-tight animate-slide-in">
      <span class="bg-gradient-to-r from-teal-400 via-blue-500 to-purple-500 text-transparent bg-clip-text">
        Connect
      </span>
    </h>
    <div class="mt-8 space-y-3 text-4xl font-semibold text-gray-800 dark:text-gray-200">
      <a href="https://github.com/leonardofrp5" target="_blank" rel="noopener noreferrer" class="block hover:text-verdigris transition-colors duration-300">GitHub</a>
      <a href="https://www.linkedin.com/in/leonardo-fabian-romero-perez-516479168/" target="_blank" rel="noopener noreferrer" class="block hover:text-verdigris transition-colors duration-300">LinkedIn</a>
    </div>
  </div>

  <div class="md:w-auto flex justify-end">
    <img src="/photo-profile.png" alt="Your Photo" class="w-60 md:w-72 lg:w-80 rounded-xl shadow-lg object-cover">
  </div>
</section>
