---
import Button from '@components/Button.astro';
import IconMoon from '@assets/Icons/moon.astro';
import IconSun from '@assets/Icons/sun.astro';

import Tag from './Tag.astro';

const menuItems = ['Home', 'About', 'Skills', 'Experiences', 'Portfolio'];
---

<header class="flex h-16 justify-around items-center w-full py-2 relative">
  <Tag text="RESUME" borderRadius="rounded-lg" width="w-20" height="h-6" fontSize="base" fontWeight="bold" />
  <div class="flex">
    {menuItems.map(item => <Button text={item} />)}
  </div>
  <button id="theme-toggle" class="relative w-6 h-6" aria-label="Toggle Theme">
    <IconMoon class="icon-moon hidden" />
    <IconSun class="icon-sun" />
  </button>
</header>

<script lang="ts"></script>
